<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @quotes_sorted %> of <%= Quote.count %>
    <% @quotes_sorted.each do |quote| %>
      <tr>
        <td><%= raw(quote.tweet_text) %></td>
        <td><%= quote.tags.map(&:value).join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
