<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @quote.tweet_id %>
</p>

<p>
  <strong>Tweet text:</strong>
  <%= @quote.tweet_text %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @quote.tags.map(&:value).join(", ") %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
