<!DOCTYPE html>
<html>
<head>
  <title>TwitLdsConf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= button_tag "Refresh", id: "refresh_list" %>
<%= yield %>

</body>
</html>

<script>
$(document).ready(function(){
  $('#refresh_list').click(function(){
    $.get("http://localhost:3000/quotes/lds_conf_feed", function(){
      window.location.replace("http://localhost:3000/quotes/list")
      })
    .fail( function( jqXHR, textStatus, errorThrown ) {
      alert( "error: " + jqXHR.responseText );
    });
  });
});
</script>

